/*
Name: Joshua Rogers

File: style.css
*/

/*styles the entire page background and default text*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c7c3c3; /*light gray background*/
    margin: 0;
}

/*centers content and creates main container*/
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #222;
    color: white;
}

/*heading*/
/* styles main headings */
h1 {
    text-align: center; /* centers heading text */
    margin-top: 0; /* removes extra top spacing */
}

/* styles result output text */
h2 {
    margin-top: 20px; /* spacing above result */
    text-align: center; /* centers result text */
}

/*sytles text input and dropdown menus*/
input, select, button {
    display: block;
    margin: 10px 0;
    padding: 8px;
}

/*sytles submit button*/
button {
    background-color: #007acc;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #80b7df; /* darker green on hover */
}

/*FOOTER*/
footer {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #222;
    color: white;
    text-align: center;
}

footer p {
    margin: 0;
}
